body{
    background: darkslategrey;
}

.header{
    font-family: 'Roboto Slab', sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
    padding: 2em 0;
    background: linear-gradient(to bottom, rgba(0,36,2,0.75) 0%, darkred 100%),
    url("https://github.com/ZIYIZHANG2/COVID-19-Tracker/blob/main/virus.jpeg");
    background-size: cover;
}

.control-row{
    padding: 4em;
    color: #ddd;
    font-size: large;
}

.countrydata{
    font-size: large;
}

